.none {
    display: none
}

.flex {
    display: flex
}

.br-80 {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.br-70 {
    background: rgba(0, 0, 0, 0.5);
}

.before {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 1340px;
    height: 6880px;
    font-size: 20px;
    position: absolute;
}

.br-80 i {
    position: absolute;
    right: 10px;
    top:0;
    cursor: pointer;
}

.before .search-place {
    display: flex;
    flex-flow: row;
    margin-top: 300px;
    width: 750px;
    border: 1px solid #fff;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    animation: s-down 2s forwards;
}

.before .search-place input {
    width: 750px;
    padding: 25px 20px;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;
    border-radius: 200px;
    font-size: 16px
}

.before .search-place i {
    position: absolute;
    transform: translateX(340px);
    cursor: pointer;
}

.s-open {
    display: flex;
    animation: s-open 1s
}

.before .container {
    width: 350px;
    height: 800px;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.before .container .content {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    height: 60%;
}

.before .container .content i {
    color: #f63c25;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.before .container .content img {
    width: 20%;
    height: 20%;
    margin-bottom: 20px
}

.before .container .content a {
    color: #fff;
    font-size: 14px;
    background: #f63c25;
    padding: 20px;
    text-decoration: none;
    transition: all 0.3s
}

.before .container .content a:hover {
    background: #d31f37
}

@-webkit-keyframes s-open {
    0% {transform: scale(0, 0); border-radius: 100%};
    95% {transform: scale(0, 0); border-radius: 100%};
    100% {transform: scale(1, 1); border-radius: 0px};
}

@keyframes s-open {
    0% {transform: scale(0, 0); border-radius: 100%};
    95% {transform: scale(0, 0); border-radius: 100%};
    100% {transform: scale(1, 1); border-radius: 0px};
}

@-webkit-keyframes s-down {
    0% {transform: translateY(-800px);};
    50% {transform: translateY(-800px);};
    100% {transform: translateY(0);};
}

@keyframes s-down {
    0% {transform: translateY(-800px);};
    50% {transform: translateY(-800px);};
    100% {transform: translateY(0);};
}

.turn-right {
    animation: turn-right 1s
}

@-webkit-keyframes turn-right {
    from {transform: translateX(1000px); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}

@keyframes turn-right {
    from {transform: translateX(1000px); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}

.turn-right-nd {
    animation: turn-right-nd 2s
}

@-webkit-keyframes turn-right-nd{
    0% {transform: translateX(400px)}
    50% {transform: translateX(400px)}
    100% {transform: translateX(0)}
}

@ke5fra 400pxmes turn-right-nd{
    0% {transform: translateX(400px)}
    50% {transform: translateX(400px)}
    100% {transform: translateX(0)}
}

.turn-up {
    animation: turn-up 3s
}

@-webkit-keyframes turn-up {
    0% {transform: translateY(300px);opacity: 0;}
    67% {transform: translateY(300px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}

@keyframes turn-up {
    0% {transform: translateY(300px);opacity: 0;}
    67% {transform: translateY(300px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}

.before3 .container {
    background: url("./image/muscle_man.png");
    background-size: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 180px 410px;
}

.before3 .container .content{
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    height: 60%;
}

.before3 .container .content .logo {
    width: 60%;
    height: 15%;
    margin-top: 40px;
}

.before3 .container .content p {
    font-size: 16px;
    margin-top: -2px
}

.before3 .container .content p i {
    position: relative;
    top: 0;
    color: #f63c25;
}

.before3 .container .content .img-list {
    width: 100%;
    height: 150px;
    flex-flow: row;
    justify-content: space-between
}

.before3 .container .content .img-list img {
    width: 32%;
    height: 60%;
}