li .link {
    color: #1f1f1f;
    text-transform: uppercase;
    padding: 15px 15px 30px 15px;
    position: relative;
    text-decoration: none;
    font-weight: 900;
    transition: all 0.3s;
    text-align: center;
    font-size: 14px
}

li .link:hover {
    color: #f63c25;
}

li:hover .drop-down{
    display: block;
    transform: translateY(10px)
}

.drop-down {
    position: absolute;
    list-style-type: none;
    display: none;
    margin-left: -30px;
    background: #fff;
    transform: translateY(-20px);
    transition: all 1s;
    width: 250px;
}

.drop-down li {
    margin: 25px 0
}

.drop-down li .link {
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
}