.container-3 {
    width: 320px;
    height: 319.98px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative
  }
  
  .container-3 .item1 {
    width: 289.98px;
    height: 238px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
  }
  
  .container-3 .item1 img {
    width: 209px;
    height: 100%;
    position: absolute;
  }
  
  .container-3 .item1 .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255,255,255,0.4);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
  }
  
  .container-3:hover .item1 .overlay {
    opacity: 1;
  }
  
  .container-3 .item1 .overlay a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #f63c25;
    font-size: 16px;
    padding: 10px 20px;
    transform: scale(0.5);
    transition: all 0.5s;
  }

  .container-3 .item1 .overlay a:hover {
    background: #d31f27
  }
  
  .container-3:hover .item1 .overlay a {
    transform: scale(1);
  }
  
  .container-3 .item1 .circle {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(155deg, rgba(249,11,35,1) 58%, rgba(241,40,0,1) 100%);
    transform: translate(100px, 170px);
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 26px;
    justify-content: center;
  }
  
  .container-3 .item2 {
    width: 100%;
    height: 82px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-3 .item2 a {
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1c1c1c;
    transition: all 0.3s;
  }
  
  .container-3:hover .item2 a {
    color: #f63c25;
  }

  